<h2 mat-dialog-title>Edit {{this.data.name}}</h2>
<mat-dialog-content class="edit-form-container">
    <mat-form-field appearance="outline">
        <mat-label>New Name</mat-label>
        <input
            matInput
            [value]="element().name"
            (input)="onChangeInput('name', $event)"
            cdkFocusInitial
        />
    </mat-form-field>
    @if (nameError$ | async) {
        <mat-error> {{nameError$ | async}}</mat-error>
    }
    <mat-form-field appearance="outline">
        <mat-label>New Weight</mat-label>
        <input
            matInput
            type="number"
            [value]="element().weight"
            (input)="onChangeInput('weight', $event)"
        />
    </mat-form-field>
    @if (weightError$ | async) {
        <mat-error> {{weightError$ | async}}</mat-error>
    }
    <mat-form-field appearance="outline">
        <mat-label>New Symbol</mat-label>
        <input
            matInput
            [value]="element().symbol"
            (input)="onChangeInput('symbol', $event)"
        />
    </mat-form-field>
    @if (symbolError$ | async) {
        <mat-error> {{symbolError$ | async}}</mat-error>
    }
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onDiscardClick()">Discard</button>
    <button
        mat-raised-button
        [mat-dialog-close]="element()"
        [disabled]="isError$ | async"
        [class.disabled]="isError$ | async"
    >Save</button>
</mat-dialog-actions>
