<h2 mat-dialog-title>Edit {{this.data.name}}</h2>
<mat-dialog-content class="edit-form-container">
    <mat-form-field appearance="outline">
        <mat-label>New Name</mat-label>
        <input
            matInput
            [value]="element().name"
            (input)="onChangeInput('name', $event)"
        />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>New Weight</mat-label>
        <input
            matInput
            type="number"
            [value]="element().weight"
            (input)="onChangeInput('weight', $event)"
        />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>New Symbol</mat-label>
        <input
            matInput
            [value]="element().symbol"
            (input)="onChangeInput('symbol', $event)"
        />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onDiscardClick()">Discard</button>
    <button mat-raised-button [mat-dialog-close]="element()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
