<div>
    <mat-card class="filter-container" appearance="outlined">
        <mat-form-field appearance="outline"
            style="flex-grow:1;"
        >
            <mat-label>Search Name</mat-label>
            <input
                id="name"
                matInput
                [value]="name$ | async"
                (input)="inputChangeHandler.next($event)"
            />
            @if (name$ | async) {
                <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearQueryInput.next('name')"
                    style="border: none; background-color: rgb(0,0,0,0);"
                >
                    <mat-icon>close</mat-icon>
                </button>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-left: 36px;">
            <mat-label>Search Symbol</mat-label>
            <input
                matInput
                id="symbol"
                [value]="symbol$ | async"
                (input)="inputChangeHandler.next($event)"
            />
            @if (symbol$ | async) {
                <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearQueryInput.next('symbol')"
                    style="border: none; background-color: rgb(0,0,0,0);"
                >
                    <mat-icon>close</mat-icon>
                </button>
            }
        </mat-form-field>
        <div class="weight-slider-container">
            <div class="weight-slider-label-container">
                <label>Weight</label>
            </div>
            <div class="weight-slider">
                <p>{{lowerWeight$ | async}}</p>
                <mat-slider min="0" max="100" appearance="outline" class="slider">
                    <input
                        #upper
                        matSliderStartThumb
                        id="weight-lower"
                        [value]="lowerWeight$ | async"
                        (change)="inputChangeHandler.next($event)"
                    >
                    <input
                        matSliderEndThumb
                        id="weight-upper"
                        [value]="upperWeight$ | async"
                        (change)="inputChangeHandler.next($event)"
                    >
                </mat-slider>
                <p>{{upperWeight$ | async}}</p>
            </div>
        </div>
    </mat-card>

    <mat-progress-bar mode="query" class="table-container" class="not-loading" [class.loading-bar]="loading$ | async"></mat-progress-bar>

    <mat-card class="table-container" appearance="outlined" [class.loading]="loading$ | async">
        <table mat-table [dataSource]="(elementData$ | async) || [] | queryFilter: (debouncedQuery$ | async)">
            <colgroup>
                <col width="10%" />
                <col width="45%" />
                <col width="35%" />
                <col width="5%" />
                <col width="5%" />
            </colgroup>

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="{{columns[1]}}">
                <th mat-header-cell *matHeaderCellDef> {{ columns[1] }} </th>
                <td mat-cell *matCellDef="let element"> {{element[columns[1]]}} </td>
            </ng-container>

            <ng-container matColumnDef="{{columns[2]}}">
                <th mat-header-cell *matHeaderCellDef> {{ columns[2] }} </th>
                <td mat-cell *matCellDef="let element"> <i> {{element[columns[2]]}} </i> </td>
            </ng-container>

            <ng-container matColumnDef="{{columns[3]}}">
                <th mat-header-cell *matHeaderCellDef> {{ columns[3] }} </th>
                <td mat-cell *matCellDef="let element"> <b> {{element[columns[3]]}} </b> </td>
            </ng-container>

            <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon fontIcon="mode-edit" class="edit-button" (click)="openEditDialog(element)"></mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;" class="table-row">
            </tr>
        </table>
    </mat-card>
</div>