/* You can add global styles to this file, and also import other style files */

body {
    // background-color: rgb(134, 194, 197);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.filter-container, .table-container {
    max-width: 80%;
    min-width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.filter-container {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
}

.not-loading {
    opacity: 0;
    max-width: 80%;
    min-width: 90%;
    margin: auto;
}

.mat-mdc-progress-spinner {
    position: absolute !important;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    table {
        opacity: 0.4;
    }
}

.weight-slider-container {
    margin: 0 40px;

    .weight-slider {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;

        .slider {
            margin: 0 20px;
        }

        p {
            margin: 0 !important;
            width: 50px;
            text-align: center;
        }
    }

}

table {

    .edit-button {
        opacity: 0;
    }

    .table-row:hover mat-icon{
        opacity: 1;
    }
}

.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.edit-form-container {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px m !important;

    & > :first-child {
        margin-top: 10px !important;
    }

    & > mat-form-field {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70%;
    }
}

mat-dialog-actions {
    & > button:first-child {
        color: #f44336 !important; 
    }

    & > button:last-child {
        background-color: #628f54 !important;
        color: white !important; 
    }

    button {
        margin-bottom: 10px;
        margin-right: 10px;
        &.disabled {
            opacity: 0.4;
        }
    }
}
.mat-mdc-form-field-error {
    transform: translateY(-20px);
    font-size: 12px;
}


